In [2]:
import os
import torch
import pickle as pkl
import pandas as pd

import numpy as np
from tqdm import tqdm

In [92]:
working_dir = "/home/iyuge2/Project/M-SENA/Datasets/CH-SIMS/metadata/sentiment"

In [93]:
label_M = pd.read_csv(os.path.join(working_dir, "label_M.csv"))
label_T = pd.read_csv(os.path.join(working_dir, "label_T.csv"))
label_A = pd.read_csv(os.path.join(working_dir, "label_A.csv"))
label_V = pd.read_csv(os.path.join(working_dir, "label_V.csv"))

In [94]:
label_A.head(5)

,video_id,clip_id,label_1,label_2,label_3,label_4,label_5,label,annotations
0,video_0001,1,-1.0,-1.0,-1,-1,-1.0,-1.0,Negative
1,video_0001,2,0.0,1.0,1,1,1.0,0.8,Positive
2,video_0001,3,-1.0,-1.0,-1,-1,-1.0,-1.0,Negative
3,video_0001,4,-1.0,-1.0,-1,-1,-1.0,-1.0,Negative
4,video_0001,5,-1.0,-1.0,-1,-1,-1.0,-1.0,Negative

In [95]:
label_M.head(5)

,video_id,clip_id,label_1,label_2,label_3,label_4,label_5,label,annotations
0,video_0001,1,-1.0,-1.0,-1,-1,-1.0,-1.0,Negative
1,video_0001,2,1.0,1.0,1,1,1.0,1.0,Positive
2,video_0001,3,-1.0,-1.0,-1,-1,-1.0,-1.0,Negative
3,video_0001,4,-1.0,-1.0,-1,-1,-1.0,-1.0,Negative
4,video_0001,5,-1.0,-1.0,-1,-1,-1.0,-1.0,Negative

In [96]:
with open('/home/iyuge2/Project/M-SENA/Datasets/CH-SIMS/metadata/index.pkl', 'rb') as lf:
    indexes = pkl.load(lf)

In [98]:
res = []
train_num, valid_num, test_num = 0, 0, 0
for i in tqdm(range(len(label_M))):
    video_id_m, clip_id_m, label_m, annotations = label_M.loc[i, ["video_id", "clip_id", "label", "annotations"]]
    video_id_t, clip_id_t, label_t, text = label_T.loc[i, ["video_id", "clip_id", "label", "text"]]
    video_id_a, clip_id_a, label_a = label_A.loc[i, ["video_id", "clip_id", "label"]]
    video_id_v, clip_id_v, label_v = label_V.loc[i, ["video_id", "clip_id", "label"]]
    assert video_id_m == video_id_t == video_id_a == video_id_v and clip_id_m == clip_id_t == clip_id_a == clip_id_v
    clip_id = "%04d" %(clip_id_m)
    if i in indexes["train"]:
        mode = 'train'
        train_num += 1
    elif i in indexes["valid"]:
        mode = 'valid'
        valid_num += 1
    elif i in indexes["test"]:
        mode = "test"
        test_num += 1
    else:
        raise Exception
    res.append([video_id_m, clip_id, text, label_t, label_a, label_v, label_m, annotations, mode])

100%|██████████| 2281/2281 [00:03<00:00, 722.70it/s]

In [30]:
df = pd.read_csv('/home/iyuge2/Project/M-SENA/Datasets/MOSI/label.csv', dtype={'clip_id': str, 'video_id': str, "text": str})

In [32]:
texts = list(df['text'])

In [33]:
lens = [len(t) for t in texts]

In [34]:
max(lens)

581